* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}
/*========== pase title ==========*/
.page-title {
   background-color: #00b092;
}
.page-title .card-title {
   font-size: 40px;
   color: #fff;
   line-height: 1;
}
.page-title .card-text {
   font-size: 16px;
   color: #fff;
   line-height: 1.8;
}
/*=========== section title =========== */
.section-title .section-heading {
   font-size: 40px;
   color: #164193;
   line-height: 1;
   margin-bottom: 12px;
}
.section-title .section-text {
   font-size: 16px;
   color: #00b092;
   text-transform: uppercase;
   letter-spacing: 4px;
   font-family: sans-serif;
}
/*========== button ==========*/
.button {
   border: none;
   background-color: #00b092;
   color: #fff;
   padding: 10px 30px;
   border-radius: 5px;
   letter-spacing: 1px;
   font-size: 15px;
   text-decoration: none;
}
.button:hover {
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* navbar */
.navbar {
   background-color: #fff !important;
   padding: 20px;
}
.navbar .nav-item .nav-link {
   color: #11141b;
   font-size: 17px;
   padding: 8px 12px;
   font-family: "Roboto", sans-serif;
}
.active {
   color: #00b092 !important;
}
.navbar .nav-item .nav-link:hover {
   color: #00b092;
}
.navbar .navbar-brand {
   color: #164193;
   font-weight: 700;
}
.navbar .navbar-brand:active {
   transform: scale(0.95);
}
/* navbar-brand shadow */
#demotext {
   color: transparent;
   background: #666666;
   -webkit-background-clip: text;
   -moz-background-clip: text;
   background-clip: text;
   text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
}
.navbar .navbar-toggler {
   box-shadow: none;
   border: none;
}
.navbar .fa-bars {
   color: #151a24c0;
   font-size: 25px;
}
.navbar .fa-bars:active {
   transform: scale(0.88);
}
/* carousel */
.carousel .carousel-item img {
   filter: brightness(90%);
}
/* search section  */
.search-container {
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.search-container .search-heading {
   font-size: 38px;
   color: #fff;
}
.search-container .search-box {
   width: 440px;
   border: none;
   border-radius: 25px;
   outline: none;
   padding: 10px 0px 10px 25px;
}
.search-container .search-btn {
   border: 0;
   border-radius: 25px;
   padding: 6px 14px;
   color: #fff;
   background-color: #0551ac;
   font-size: 15px;
   margin-left: -96px;
}
/* home section */
.home {
   background-color: #f2fafb;
}
.home .home-title {
   color: #164193;
   font-size: 38px;
   font-weight: 700;
   font-family: sans-serif;
   line-height: 1;
}
.home .fa-check {
   color: #164193;
   font-size: 14px;
}
.home p {
   color: #626262;
   font-size: 15px;
   line-height: 1.5;
}
.home .img-card {
   border: 0;
   border-radius: 0;
   background-color: #f2fafb;
}
.home img {
   width: 75%;
}
/* appointment scedule section */
.appointment .nav-link {
   color: #1e2125;
   font-size: 18px;
}
.appointment .nav-pills .card:active {
   transform: scale(0.95);
}
.appointment .nav-pills .active {
   color: #00b092;
   background-color: #fff !important;
}
.appointment .tab-content {
   border-radius: 6px;
}
.appointment .tab-content .consultant {
   font-size: 16px;
   color: #3c3e41;
}
.appointment .tab-content .medical {
   font-size: 36px;
   color: #3c3e41;
}
.appointment .tab-content .contact-info {
   font-size: 16px;
   color: #3c3e41;
   margin: 6px 0;
}
.appointment .medical-img {
   width: 100%;
}
/* services section*/
.services {
   background-color: #f2fafb;
}
.services .services-col {
   display: flex;
   justify-content: center;
}
.card-link {
   text-decoration: none;
}
.services .card {
   max-width: 18rem;
}
.services .img-container {
   width: 100px;
   height: 100px;
}
.services .card-img {
   width: 64px;
   height: 64px;
}
.services .card-title {
   font-size: 18px;
   color: #00b092;
}
.services .card-text {
   font-size: 14px;
   color: #222;
   font-family: sans-serif;
}
.line-clamp {
   overflow: hidden;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 5;
}
/* recent posts */
.recent-post {
   background-color: #fff;
}
.recent-post .col {
   display: flex;
   justify-content: center;
}
.recent-post img {
   max-width: 400px;
   max-height: 336px;
}
.recent-post .card {
   background-color: #fff;
}
.recent-post .card .card-title a {
   color: #00b092;
   font-size: 24px;
   font-family: sans-serif;
   font-weight: 600;
}
.recent-post .card .card-text {
   font-size: 14px;
   color: #626262;
   line-height: 1.8;
}
/* footer */
.footer {
   background-color: #11141b;
}
.footer .footer-title {
   font-size: 17px;
   color: #fff;
   font-weight: 700;
}
.footer .footer-about {
   color: #bdbdbd;
   font-size: 15px;
}
.footer .footer-icon {
   width: 32px;
   height: 32px;
   border: 1px solid #343844;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.footer .footer-icon .fa-brands {
   color: #fff;
}
.footer .footer-icon:hover {
   background-color: #00b092;
}
.footer .nav-link {
   color: #bdbdbd;
   padding: 4px 0;
   font-size: 15px;
}
.footer .nav-link:hover {
   text-decoration: underline;
}
.footer-bottom {
   background-color: #11141b;
   font-size: 15px;
   color: #bdbdbd;
}
/* ============ about section ============== */
.about {
   background-color: #f2fafb;
}
.about .about-content .card-title {
   color: #00b092;
   font-size: 40px;
   font-weight: 600;
}
.about .about-content h3 {
   color: #2a5953;
   font-size: 20px;
}
.about .about-content .card-text {
   color: #29313f;
   font-size: 16px;
   line-height: 1.5;
   font-family: sans-serif;
}
.about .about-image-contain {
   background-color: #f2fafb;
}
.about .about-image-contain .about-poster {
   width: 70%;
}
.info .img-container {
   width: 84px;
   height: 84px;
}
.info .img-container img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.info .card-title {
   font-size: 20px;
   color: #00b092;
   font-weight: 600;
   text-transform: uppercase;
}
.info .card-text {
   font-size: 16px;
   color: #626262;
}
.info i {
   font-size: 16px;
   color: #626262;
}
.info .card {
   border: 1px solid #ebebeb;
}
.information .biography .bio-img-container {
   width: 250px;
   height: 250px;
   border-radius: 50%;
}
.bio-img-container img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 50%;
}
/*========== contact section ==========*/
.contact .get-touch {
   color: #00b092;
   font-weight: 700;
}
.contact input {
   padding: 14px;
   border: none;
}
.contact .icon-container {
   width: 60px;
   height: 60px;
}
.contact textarea::placeholder {
   font-size: 16px;
}
.contact .address-section img {
   width: 80%;
   height: 80%;
   object-fit: cover;
}
.contact .address-section .card-title {
   color: #00b092;
}
.contact .address-section .card-text {
   color: #626262;
   font-size: 16px;
}
.address-container {
   border: 1px solid #ededed;
}
/* ========== media quary section =========== */
@media (max-width: 575.98px) {
   /* page title */
   .page-title .card-title {
      font-size: 30px;
   }
   /* section title */
   .section-title .section-heading {
      font-size: 30px;
   }
   /* about section */
   .about .about-content .card-title {
      font-size: 25px;
   }
   /* navbar */
   .offcanvas {
      width: 65% !important;
   }
   .navbar {
      padding: 14px;
   }
   .home .home-title {
      font-size: 30px;
   }
   .about .about-content h2 {
      font-size: 30px;
      font-weight: 600;
   }
   .about .about-content h3 {
      font-size: 18px;
   }
   /* .appointment */
   .appointment .tab-content .medical {
      font-size: 20px;
   }
   .appointment .tab-content .contact-info {
      font-size: 14px;
   }
   .appointment .medical-img {
      width: 100%;
   }
}
@media (min-width: 992px) {
   /* appointment */
   .appointment .medical-img {
      width: 90%;
   }
   /* page title */
   .page-title .title-content {
      width: 75%;
   }
}
@media (min-width: 344px) and (max-width: 575.98px) {
   /* search section  small device*/
   .search-container .search-heading {
      font-size: 16px;
   }
   .search-container .search-box {
      width: 220px;
      padding: 4px 0px 5px 20px;
   }
   .search-container .search-btn {
      padding: 1px 10px;
      margin-left: -43px;
   }
   .search-container input::placeholder {
      font-size: 14px;
   }
}
@media (min-width: 576px) and (max-width: 767.98px) {
   /* search section  medium device*/
   .search-container .search-heading {
      font-size: 22px;
   }
   .search-container .search-box {
      width: 300px;
      padding: 7px 0px 7px 15px;
   }
   .search-container .search-btn {
      padding: 4px 16px;
      margin-left: -54px;
   }
}
