* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: sans-serif;
}
/* navbar section*/
.navbar {
   background-color: #023154 !important;
   padding: 20px;
}
.navbar .nav-item .nav-link {
   color: #fff;
   font-size: 17px;
   padding: 8px 12px;
}
.navbar .nav-item .active {
   color: #ff014f;
}
.navbar .nav-item .nav-link:hover {
   color: #ff014f;
}
.navbar .navbar-brand {
   color: #fff;
}
.navbar .navbar-toggler {
   box-shadow: none;
   border: none;
}
.navbar .fa-bars {
   color: #fff;
   font-size: 25px;
}
/* footer */
.footer {
   background-color: #11141b;
}
.footer .footer-title {
   font-size: 17px;
   color: #fff;
   font-weight: 700;
}
.footer .footer-about {
   color: #bdbdbd;
   font-size: 15px;
}
.footer .footer-icon {
   width: 32px;
   height: 32px;
   border: 1px solid #343844;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.footer .footer-icon .fa-brands {
   color: #fff;
}
.footer .footer-icon:hover {
   background-color: rgba(215, 21, 144, 0.3);
}
.footer .nav-link {
   color: #bdbdbd;
   padding: 4px 0;
   font-size: 15px;
}
.footer .nav-link:hover {
   text-decoration: underline;
}
.footer-bottom {
   background-color: #11141b;
   font-size: 15px;
   color: #bdbdbd;
}

/* media quary */
@media (max-width: 575.98px) {
   /* navbar */
   .offcanvas {
      width: 65% !important;
   }
   .navbar {
      padding: 14px;
   }
}
