* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}
/* navbar */
.navbar {
   background-color: #EDF8FA !important;
   padding: 20px;
}
.navbar .nav-item .nav-link {
   color: #164193;
   font-size: 17px;
   padding: 8px 12px;
   font-family: Arial, Helvetica, sans-serif;
}
.navbar .nav-item .active {
   color: #ff014f;
}
.navbar .nav-item .nav-link:hover {
   color: #ff014f;
}
.navbar .navbar-brand {
   color: #164193;
   font-weight: 700;
}
.navbar .navbar-toggler {
   box-shadow: none;
   border: none;
}
.navbar .fa-bars {
   color: #151a24;
   font-size: 25px;
}
/* carousel */
.carousel .carousel-item img {
   filter: brightness(90%);
}
/* search section  */
.search-container {
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.search-container .search-heading {
   font-size: 38px;
   color: #fff;
   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.search-container .search-box {
   width: 440px;
   border: none;
   border-radius: 25px;
   outline: none;
   padding: 10px 0px 10px 25px;
}
.search-container .search-btn {
   border: 0;
   border-radius: 25px;
   padding: 8px 20px;
   color: #fff;
   background-color: #0551ac;
   font-size: 15px;
   margin-left: -85px;
}
/* section title section */
.section-title {
   color: #164193;
   text-align: center;
   font-size: 40px;
   font-weight: 800;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.small-title {
   text-transform: uppercase;
   color: #1CA288;
   font-size: 16px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   letter-spacing: 6px;
}

/* services */
.services{
   background-color: #EDF8FA; 
}
.services .card-link{
   text-decoration: none;
}
.services .card{
   max-width: 18rem;
   /* padding: 40px 30px; */
}
.services .img-container{
   width: 100px;
   height: 100px;
}
.services .card-img{
   width: 64px;
   height: 64px;
}
.services .card-title{
   font-size: 18px;
   color: #1CA288;
   /* font-weight: 600; */
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.services .card-text{
   font-size: 14px;
   color: #000;
}
.line-clamp {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}








/* footer */
.footer {
   background-color: #11141b;
}
.footer .footer-title {
   font-size: 17px;
   color: #fff;
   font-weight: 700;
}
.footer .footer-about {
   color: #bdbdbd;
   font-size: 15px;
}
.footer .footer-icon {
   width: 32px;
   height: 32px;
   border: 1px solid #343844;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.footer .footer-icon .fa-brands {
   color: #fff;
}
.footer .footer-icon:hover {
   background-color: #242f3c;
}
.footer .nav-link {
   color: #bdbdbd;
   padding: 4px 0;
   font-size: 15px;
}
.footer .nav-link:hover {
   text-decoration: underline;
}
.footer-bottom {
   background-color: #11141b;
   font-size: 15px;
   color: #bdbdbd;
}
/* media quary */
@media (max-width: 575.98px) {
   /* navbar */
   .offcanvas {
      width: 65% !important;
   }
   .navbar {
      padding: 14px;
   }
   .section-title {
 

   font-size: 30px;
  
   }
   
}
@media (min-width: 344px) and (max-width: 575.98px) {
   /* search section  small device*/
   .search-container .search-heading {
      font-size: 18px;
   }
   .search-container .search-box {
      width: 250px;
      padding: 4px 0px 4px 20px;
   }
   .search-container .search-btn {
      padding: 2px 4px;
      margin-left: -54px;
   }
   input::placeholder {
      font-size: 13px;
   }
}
@media (min-width: 576px) and (max-width: 767.98px) {
   /* search section  medium device*/
   .search-container .search-heading {
      font-size: 25px;
   }
   .search-container .search-box {
      width: 300px;
      padding: 7px 0px 7px 15px;
   }
   .search-container .search-btn {
      padding: 5px 12px;
      margin-left: -70px;
   }
}