* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}
/* navbar */
.navbar {
   background-color: #edf8fa !important;
   padding: 20px;
}
.navbar .nav-item .nav-link {
   color: #11141b;
   font-size: 17px;
   padding: 8px 12px;
   font-family: "Roboto", sans-serif;
   /* font-weight: 500; */
}
.active {
   color: #00b092 !important;
}
.navbar .nav-item .nav-link:hover {
   color: #00b092;
}
.navbar .navbar-brand {
   color: #164193;
   font-weight: 700;
}
.navbar .navbar-brand:active {
   transform: scale(0.95);
}
/* navbar-brand shadow */
#demotext {
   color: transparent;
   background: #666666;
   -webkit-background-clip: text;
   -moz-background-clip: text;
   background-clip: text;
   text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
}
.navbar .navbar-toggler {
   box-shadow: none;
   border: none;
}
.navbar .fa-bars {
   color: #151a24c0;
   font-size: 25px;
}
.navbar .fa-bars:active {
   transform: scale(0.88);
}
/* carousel */
.carousel .carousel-item img {
   filter: brightness(90%);
}
/* search section  */
.search-container {
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.search-container .search-heading {
   font-size: 38px;
   color: #fff;
   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.search-container .search-box {
   width: 440px;
   border: none;
   border-radius: 25px;
   outline: none;
   padding: 10px 0px 10px 25px;
}
.search-container .search-btn {
   border: 0;
   border-radius: 25px;
   padding: 6px 14px;
   color: #fff;
   background-color: #0551ac;
   font-size: 15px;
   margin-left: -96px;
}
/* home about */
.home-about {
   background-color: #edf8fa;
}
.home-about .home-about-title {
   color: #164193;
   font-size: 38px;
   font-weight: 700;
   font-family: sans-serif;
   line-height: 1;
}
.home-about .fa-check {
   color: #164193;
   font-size: 14px;
}
.home-about p {
   color: #626262;
   font-size: 15px;
   line-height: 1.5;
}
.home-about .img-card {
   border: 0;
   border-radius: 0;
   background-color: #edf8fa;
}
.home-about img {
   width: 75%;
}
.button {
   border: none;
   background-color: #00b092;
   color: #fff;
   padding: 10px 30px;
   border-radius: 5px;
   letter-spacing: 1px;
   font-size: 15px;
   text-decoration: none;
}
.button:hover {
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* .regular scedule section */
.regular-scedule .nav-link {
   color: #1e2125;
   font-size: 18px;
}
.regular-scedule .nav-pills .card:active {
   transform: scale(0.95);
}
.regular-scedule .nav-pills .active {
   color: #00b092;
   background-color: #fff !important;
}
.regular-scedule .tab-content {
   border-radius: 6px;
}
.regular-scedule .tab-content .consultant {
   font-size: 16px;
   color: #3c3e41;
}
.regular-scedule .tab-content .medical {
   font-size: 36px;
   color: #3c3e41;
}
.regular-scedule .tab-content i {
   color: 3c3e41;
   font-size: 16px;
   margin-right: 8px;
}
.regular-scedule .tab-content .contact-info {
   font-size: 16px;
   color: #3c3e41;
   margin: 8px 0;
}
.regular-scedule .medical-img {
   width: 100%;
}
/* section title section */
.section-title {
   color: #164193;
   text-align: center;
   font-size: 40px;
   font-weight: 700;
   font-family: sans-serif;
}
.small-title {
   text-transform: uppercase;
   color: #1ca288;
   font-size: 16px;
   font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
   letter-spacing: 6px;
}
/* services */
.services {
   background-color: #edf8fa;
}
.services .col {
   display: flex;
   justify-content: center;
}
.card-link {
   text-decoration: none;
}
.services .card {
   max-width: 18rem;
   /* padding: 40px 30px; */
}
.services .img-container {
   width: 100px;
   height: 100px;
}
.services .card-img {
   width: 64px;
   height: 64px;
}
.services .card-title {
   font-size: 18px;
   color: #1ca288;
   /* font-weight: 600; */
   font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.services .card-text {
   font-size: 14px;
   color: #000;
}
.line-clamp {
   overflow: hidden;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 5;
}
/* recent posts */
.recent-post {
   background-color: #fff;
}
.recent-post .col {
   display: flex;
   justify-content: center;
}
.recent-post img {
   max-width: 400px;
   max-height: 336px;
}
.recent-post .card {
   background-color: #fff;
}
.recent-post .card .card-title a {
   color: #1ca288;
   font-size: 24px;
   font-family: sans-serif;
   font-weight: 600;
}
.recent-post .card .card-text {
   font-size: 14px;
   color: #626262;
   line-height: 1.8;
}

/* footer */
.footer {
   background-color: #11141b;
}
.footer .footer-title {
   font-size: 17px;
   color: #fff;
   font-weight: 700;
}
.footer .footer-about {
   color: #bdbdbd;
   font-size: 15px;
}
.footer .footer-icon {
   width: 32px;
   height: 32px;
   border: 1px solid #343844;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.footer .footer-icon .fa-brands {
   color: #fff;
}
.footer .footer-icon:hover {
   background-color: #00b093;
}
.footer .nav-link {
   color: #bdbdbd;
   padding: 4px 0;
   font-size: 15px;
}
.footer .nav-link:hover {
   text-decoration: underline;
}
.footer-bottom {
   background-color: #11141b;
   font-size: 15px;
   color: #bdbdbd;
}

/* ============ about page ============== */
.about {
   background-color: #edf8fa;
}
.about .about-content h2 {
   color: #00b092;
   font-size: 40px;
   font-weight: 700;
}
.about .about-content h3 {
   color: #2a5953;
   font-size: 20px;
}
.about .about-content p {
   color: #29313f;
   font-size: 16px;
   line-height: 1.5;
}
.about img {
   width: 75%;
}
.about .about-image {
   border: 0;
   border-radius: 0;
   background-color: #edf8fa;
}
.information .biography .bio-img-container {
   width: 250px;
   height: 250px;
   border-radius: 50%;
}
.bio-img-container img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 50%;
}
.information .biography h5 {
   color: #00b092;
}
.information .biography p {
   color: #6a6a67;
   font-size: 16px;
}
.information .education .i,
.experience .i {
   color: green;
}
.information .education h5,
.experience h5 {
   color: #00b093;
}
.information .education p,
.experience p {
   color: #6a6a67;
   font-size: 16px;
}
.information .fa-angle-right {
   margin-right: 5px;
}
.information .achievement h5 {
   color: #00b092;
}
.information .achievement p {
   color: #6a6a67;
   font-size: 16px;
   line-height: 1.5;
}

/* ============ services page ============== */
.all-section-title {
   background-color: #00b092
}
.all-section-title .card {
   background-color: #00b092;
}
.all-section-title .card-title {
   font-size: 40px;
   color: #fff;
   font-weight: bold;
   line-height: 1;
}
.all-section-title .card-text {
   font-size: 16px;
   color: #fff;
   line-height: 1.8;
}
/* media quary */
@media (max-width: 575.98px) {
   /* navbar */
   .offcanvas {
      width: 65% !important;
   }
   .navbar {
      padding: 14px;
   }
   .section-title {
      font-size: 30px;
   }
   .home-about .home-about-title {
      font-size: 30px;
   }
   .about .about-content h2 {
      font-size: 30px;
      font-weight: 600;
   }
   .about .about-content h3 {
      font-size: 18px;
   }
   .regular-scedule .medical-img {
      width: 100%;
   }
   .regular-scedule .tab-content .medical {
      font-size: 20px;
   }
   .regular-scedule .tab-content .contact-info {
      font-size: 12px;
   }
   .all-section-title.card-title {
      font-size: 25px;
   }
}
@media (min-width: 992px) {
   .regular-scedule .medical-img {
      width: 90%;
   }
   .all-section-title .card {
      width: 80%;
   }
}
@media (min-width: 344px) and (max-width: 575.98px) {
   /* search section  small device*/
   .search-container .search-heading {
      font-size: 18px;
   }
   .search-container .search-box {
      width: 250px;
      padding: 4px 0px 5px 20px;
   }
   .search-container .search-btn {
      padding: 2px 10px;
      margin-left: -42px;
   }
   input::placeholder {
      font-size: 13px;
   }
}
@media (min-width: 576px) and (max-width: 767.98px) {
   /* search section  medium device*/
   .search-container .search-heading {
      font-size: 22px;
   }
   .search-container .search-box {
      width: 300px;
      padding: 7px 0px 7px 15px;
   }
   .search-container .search-btn {
      padding: 4px 16px;
      margin-left: -54px;
   }
}
